.alert.alert-danger(role='alert' ng-show='sign_up.errors')
  button.close(data-dismiss='alert' type='button' ng-click='sign_up.clearErrors()') ×
  ul(ng-repeat='error in sign_up.errors')
    li {{error}}
form(novalidate=true name='signUpForm' ng-submit='sign_up.submit()')
  .form-group
    label(for='email')
      span メールアドレス
      span *
    input.form-control#email(type='email' autofocus=true name='email' ng-model='sign_up.email' required=true ng-maxlength='100')
    span.errors(ng-messages='signUpForm.email.$error' ng-show='signUpForm.$submitted')
      div(ng-message='required')
        span.glyphicon.glyphicon-alert
        span メールアドレスを入力してください
      div(ng-message='email')
        span.glyphicon.glyphicon-alert
        span メールアドレスの形式が不正です
      div(ng-message='maxlength')
        span.glyphicon.glyphicon-alert
        span メールアドレスは100文字以内で入力してください
  .form-group
    label(for='password')
      span パスワード
      span *
    input.form-control#password(type='password' name='password' ng-model='sign_up.password' required=true ng-maxlength='72' ng-minlength='4')
    span.errors(ng-messages='signUpForm.password.$error' ng-show='signUpForm.$submitted')
      div(ng-message='required')
        span.glyphicon.glyphicon-alert
        span パスワードを入力してください
      div(ng-message='maxlength')
        span.glyphicon.glyphicon-alert
        span パスワードは32文字以内で入力してください
      div(ng-message='minlength')
        span.glyphicon.glyphicon-alert
        span パスワードは4文字以上で入力してください
  .form-group
    label(for='password_confirmation')
      span パスワード（確認）
    input.form-control#password_confirmation(type='password' name='password_confirmation' ng-model='sign_up.password_confirmation' required=true ng-maxlength='72' ng-minlength='4')
    span.errors(ng-messages'signUpForm.password_confirmation.$error' ng-show='signUpForm.$submitted')
      div(ng-message='required')
        span.glyphicon.glyphicon-alert
        span パスワードを入力してください
      div(ng-message='maxlength')
        span.glyphicon.glyphicon-alert
        span パスワードは32文字以内で入力してください
      div(ng-message='minlength')
        span.glyphicon.glyphicon-alert
        span パスワードは4文字以上で入力してください
  button.btn.btn-primary(type='submit' ng-disabled='signUpForm.$submitted && signUpForm.$invalid') 登録する
